*{
    margin: 0px;
}

.a{
    text-align: center;
    color: white;
    background-color: black;
    height: 200px;
    padding-top: 30px;

}
.b{
    text-align: right;
}
img{
  height: 200px;  
  width: 200px;
 
}
.c{
    font-size: 20px;
    margin-left: 20px;
    padding-top: 30px;
    font-size: 30px;
}
span{
    font-size: 40px;
}

.d{
 color: white;
 background-color: black;
 padding: 50px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}